* {
    margin: 0;
    padding: 0;
}

.top-bar {
    background: #930000;
    color: #fff;
    padding: rem;
    position: sticky;
    top: 0px;
    
}


.btn {
    background: #ff0000;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}

.btn:hover {
    opacity: 0.9;
}

.page-info {
    margin-left: 1rem;
}

.error {
    background: rgb(255, 0, 0);
    padding: 1rem;
    color: rgba(255, 255, 255, 0.652);
}
